<h1><center>Analysing Books Data</center></h1>
<hr><hr>

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").appName("002").getOrCreate()
spark

In [3]:
sc = spark.sparkContext
sc

In [4]:
sc.defaultParallelism

8

In [17]:
from pyspark.sql import functions as F

In [14]:
books_df = spark.read.csv("./data/books_data.csv", header=True, inferSchema=True)

## Getting a single value out of a Dataframe:
----------------------------------------------

In [30]:
books_df.rdd.collect()[0].books_count

272

### 1. Total numbers of records:
----------------------------------

In [19]:
books_df.count()

10000

### 2. Schema of dataframe:
-------------------------------

In [9]:
books_df.printSchema()

root
 |-- book_id: integer (nullable = true)
 |-- goodreads_book_id: integer (nullable = true)
 |-- best_book_id: integer (nullable = true)
 |-- work_id: integer (nullable = true)
 |-- books_count: integer (nullable = true)
 |-- isbn: string (nullable = true)
 |-- isbn13: double (nullable = true)
 |-- authors: string (nullable = true)
 |-- original_publication_year: integer (nullable = true)
 |-- original_title: string (nullable = true)
 |-- title: string (nullable = true)
 |-- language_code: string (nullable = true)
 |-- average_rating: string (nullable = true)
 |-- ratings_count: string (nullable = true)
 |-- work_ratings_count: string (nullable = true)
 |-- work_text_reviews_count: string (nullable = true)
 |-- ratings_1: double (nullable = true)
 |-- ratings_2: integer (nullable = true)
 |-- ratings_3: integer (nullable = true)
 |-- ratings_4: integer (nullable = true)
 |-- ratings_5: integer (nullable = true)
 |-- image_url: string (nullable = true)
 |-- small_image_url: string (nullable = true)

In [11]:
books_df.dtypes

[('book_id', 'int'),
 ('goodreads_book_id', 'int'),
 ('best_book_id', 'int'),
 ('work_id', 'int'),
 ('books_count', 'int'),
 ('isbn', 'string'),
 ('isbn13', 'double'),
 ('authors', 'string'),
 ('original_publication_year', 'int'),
 ('original_title', 'string'),
 ('title', 'string'),
 ('language_code', 'string'),
 ('average_rating', 'string'),
 ('ratings_count', 'string'),
 ('work_ratings_count', 'string'),
 ('work_text_reviews_count', 'string'),
 ('ratings_1', 'double'),
 ('ratings_2', 'int'),
 ('ratings_3', 'int'),
 ('ratings_4', 'int'),
 ('ratings_5', 'int'),
 ('image_url', 'string'),
 ('small_image_url', 'string')]

In [10]:
books_df.show()

+-------+-----------------+------------+--------+-----------+----------+-------+--------------------+-------------------------+--------------------+--------------------+-------------+--------------+-------------+------------------+-----------------------+---------+---------+---------+---------+---------+--------------------+--------------------+
|book_id|goodreads_book_id|best_book_id| work_id|books_count|      isbn| isbn13|             authors|original_publication_year|      original_title|               title|language_code|average_rating|ratings_count|work_ratings_count|work_text_reviews_count|ratings_1|ratings_2|ratings_3|ratings_4|ratings_5|           image_url|     small_image_url|
+-------+-----------------+------------+--------+-----------+----------+-------+--------------------+-------------------------+--------------------+--------------------+-------------+--------------+-------------+------------------+-----------------------+---------+---------+---------+---------+---------+--------------------+--------------------+
|      1|          2767052|     2767052| 2792775|        272| 439023483|9.78E12|     Suzanne Collins|                     2008|    The Hunger Games|The Hunger Games ...|          eng|          4.34|      4780653|           4942365|                 155254|  66715.0|   127936|   560092|  1481305|  2706317|https://images.gr...|https://images.gr...|
|      2|                3|           3| 4640799|        491| 439554934|9.78E12|J.K. Rowling, Mar...|                     1997|Harry Potter and ...|Harry Potter and ...|          eng|          4.44|      4602479|           4800065|                  75867|  75504.0|   101676|   455024|  1156318|  3011543|https://images.gr...|https://images.gr...|
|      3|            41865|       41865| 3212258|        226| 316015849|9.78E12|     Stephenie Meyer|                     2005|            Twilight|Twilight (Twiligh...|        en-US|          3.57|      3866839|           3916824|                  95009| 456191.0|   436802|   793319|   875073|  1355439|https://images.gr...|https://images.gr...|
|      4|             2657|        2657| 3275794|        487|  61120081|9.78E12|          Harper Lee|                     1960|To Kill a Mocking...|To Kill a Mocking...|          eng|          4.25|      3198671|           3340896|                  72586|  60427.0|   117415|   446835|  1001952|  1714267|https://images.gr...|https://images.gr...|
|      5|             4671|        4671|  245494|       1356| 743273567|9.78E12| F. Scott Fitzgerald|                     1925|    The Great Gatsby|    The Great Gatsby|          eng|          3.89|      2683664|           2773745|                  51992|  86236.0|   197621|   606158|   936012|   947718|https://images.gr...|https://images.gr...|
|      6|         11870085|    11870085|16827462|        226| 525478817|9.78E12|          John Green|                     2012|The Fault in Our ...|The Fault in Our ...|          eng|          4.26|      2346404|           2478609|                 140739|  47994.0|    92723|   327550|   698471|  1311871|https://images.gr...|https://images.gr...|
|      7|             5907|        5907| 1540236|        969| 618260307|9.78E12|      J.R.R. Tolkien|                     1937|The Hobbit or The...|          The Hobbit|        en-US|          4.25|      2071616|           2196809|                  37653|  46023.0|    76784|   288649|   665635|  1119718|https://images.gr...|https://images.gr...|
|      8|             5107|        5107| 3036731|        360| 316769177|9.78E12|       J.D. Salinger|                     1951|The Catcher in th...|The Catcher in th...|          eng|          3.79|      2044241|           2120637|                  44920| 109383.0|   185520|   455042|   661516|   709176|https://images.gr...|https://images.gr...|
|      9|              960|         960| 3338963|        311|1416524797|9.78E12|           Dan Brown|                     2000|    Angels & Demons |Angels & Demons  ...|        en-CA|          3.85|      2001311|           2078754|                  25112|  77841.0|   145740|   458429|   716569|   680175|https://images.gr...|https://images.gr...|
|     10|             1885|        1885| 3060926|       3455| 679783261|9.78E12|         Jane Austen|                     1813| Pride and Prejudice| Pride and Prejudice|          eng|          4.24|      2035490|           2191465|                  49152|  54700.0|    86485|   284852|   609755|  1155673|https://images.gr...|https://images.gr...|
|     11|            77203|       77203| 3295919|        283|1594480001|9.78E12|     Khaled Hosseini|                     2003|    The Kite Runner |     The Kite Runner|          eng|          4.26|      1813044|           1878095|                  59730|  34288.0|    59980|   226062|   628174|   929591|https://images.gr...|https://images.gr...|
|     12|         13335037|    13335037|13155899|        210|  62024035|9.78E12|       Veronica Roth|                     2011|           Divergent|Divergent (Diverg...|          eng|          4.24|      1903563|           2216814|                 101023|  36315.0|    82870|   310297|   673028|  1114304|https://images.gr...|https://images.gr...|
|     13|             5470|        5470|  153313|        995| 451524934|9.78E12|George Orwell, Er...|                     1949|Nineteen Eighty-Four|                1984|          eng|          4.14|      1956832|           2053394|                  45518|  41845.0|    86425|   324874|   692021|   908229|https://images.gr...|https://images.gr...|
|     14|             7613|        7613| 2207778|        896| 452284244|9.78E12|       George Orwell|                     1945|Animal Farm: A Fa...|         Animal Farm|          eng|          3.87|      1881700|           1982987|                  35472|  66854.0|   135147|   433432|   698642|   648912|https://images.gr...|https://images.gr...|
|     15|            48855|       48855| 3532896|        710| 553296981|9.78E12|Anne Frank, Elean...|                     1947|Het Achterhuis: D...|The Diary of a Yo...|          eng|           4.1|      1972666|           2024493|                  20825|  45225.0|    91270|   355756|   656870|   875372|https://images.gr...|https://images.gr...|
|     16|          2429135|     2429135| 1708725|        274| 307269752|9.78E12|Stieg Larsson, Re...|                     2005|Män som hatar kvi...|The Girl with the...|          eng|          4.11|      1808403|           1929834|                  62543|  54835.0|    86051|   285413|   667485|   836050|https://images.gr...|https://images.gr...|
|     17|          6148028|     6148028| 6171458|        201| 439023491|9.78E12|     Suzanne Collins|                     2009|       Catching Fire|Catching Fire (Th...|          eng|           4.3|      1831039|           1988079|                  88538|  10492.0|    48030|   262010|   687238|   980309|https://images.gr...|https://images.gr...|
|     18|                5|           5| 2402163|        376|043965548X|9.78E12|J.K. Rowling, Mar...|                     1999|Harry Potter and ...|Harry Potter and ...|          eng|          4.53|      1832823|           1969375|                  36099|   6716.0|    20413|   166129|   509447|  1266670|https://images.gr...|https://images.gr...|
|     19|               34|          34| 3204327|        566| 618346252|9.78E12|      J.R.R. Tolkien|                     1954| The Fellowship o...|The Fellowship of...|          eng|          4.34|      1766803|           1832541|                  15333|  38031.0|    55862|   202332|   493922|  1042394|https://images.gr...|https://images.gr...|
|     20|          7260188|     7260188| 8812783|        239| 439023513|9.78E12|     Suzanne Collins|                     2010|          Mockingjay|Mockingjay (The H...|          eng|          4.03|      1719760|           1870748|                  96274|  30144.0|   110498|   373060|   618271|   738775|https://images.gr...|https://images.gr...|
+-------+-----------------+------------+--------+-----------+----------+-------+--------------------+-------------------------+--------------------+--------------------+-------------+--------------+-------------+------------------+-----------------------+---------+---------+---------+---------+---------+--------------------+--------------------+
only showing top 20 rows

### 3. Selecting sub-dataframe of some columns:

In [15]:
books_df2 = books_df.select( ["book_id", "title", "books_count", "language_code", "average_rating", "ratings_count"] )
books_df2.show( truncate=False )

+-------+-----------------------------------------------------------+-----------+-------------+--------------+-------------+
|book_id|title                                                      |books_count|language_code|average_rating|ratings_count|
+-------+-----------------------------------------------------------+-----------+-------------+--------------+-------------+
|1      |The Hunger Games (The Hunger Games, #1)                    |272        |eng          |4.34          |4780653      |
|2      |Harry Potter and the Sorcerer's Stone (Harry Potter, #1)   |491        |eng          |4.44          |4602479      |
|3      |Twilight (Twilight, #1)                                    |226        |en-US        |3.57          |3866839      |
|4      |To Kill a Mockingbird                                      |487        |eng          |4.25          |3198671      |
|5      |The Great Gatsby                                           |1356       |eng          |3.89          |2683664      |
|6      |The Fault in Our Stars                                     |226        |eng          |4.26          |2346404      |
|7      |The Hobbit                                                 |969        |en-US        |4.25          |2071616      |
|8      |The Catcher in the Rye                                     |360        |eng          |3.79          |2044241      |
|9      |Angels & Demons  (Robert Langdon, #1)                      |311        |en-CA        |3.85          |2001311      |
|10     |Pride and Prejudice                                        |3455       |eng          |4.24          |2035490      |
|11     |The Kite Runner                                            |283        |eng          |4.26          |1813044      |
|12     |Divergent (Divergent, #1)                                  |210        |eng          |4.24          |1903563      |
|13     |1984                                                       |995        |eng          |4.14          |1956832      |
|14     |Animal Farm                                                |896        |eng          |3.87          |1881700      |
|15     |The Diary of a Young Girl                                  |710        |eng          |4.1           |1972666      |
|16     |The Girl with the Dragon Tattoo (Millennium, #1)           |274        |eng          |4.11          |1808403      |
|17     |Catching Fire (The Hunger Games, #2)                       |201        |eng          |4.3           |1831039      |
|18     |Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)|376        |eng          |4.53          |1832823      |
|19     |The Fellowship of the Ring (The Lord of the Rings, #1)     |566        |eng          |4.34          |1766803      |
|20     |Mockingjay (The Hunger Games, #3)                          |239        |eng          |4.03          |1719760      |
+-------+-----------------------------------------------------------+-----------+-------------+--------------+-------------+
only showing top 20 rows

### 4. Dictinct language_code:
--------

In [16]:
books_df2.select("language_code").distinct().show()

+-------------+
|language_code|
+-------------+
|          fre|
|           en|
|        en-CA|
|          rus|
|          ind|
|          per|
|         null|
|          nor|
|          pol|
|          vie|
|          ara|
|          por|
|          swe|
|          mul|
|          eng|
|          jpn|
|           nl|
|          dan|
|        en-GB|
|          fil|
+-------------+
only showing top 20 rows

### 5. Number of books per language_code, and siplaying in descending order of count:
---------------------------------------------------------------------------------------

In [31]:
books_per_language_df = books_df2.groupBy("language_code").agg( F.count("title").alias("num_of_books") ).orderBy( F.col("num_of_books").desc() )
books_per_language_df.show(50)

+--------------------+------------+
|       language_code|num_of_books|
+--------------------+------------+
|                 eng|        6340|
|               en-US|        2069|
|                null|        1084|
|               en-GB|         257|
|                 ara|          64|
|               en-CA|          58|
|                 fre|          25|
|                 ind|          21|
|                 spa|          20|
|                 ger|          13|
|                 per|           7|
|                 jpn|           7|
|                 pol|           6|
|                 por|           6|
|                  en|           4|
|                 nor|           3|
|                 dan|           3|
|                 ita|           2|
|                 fil|           2|
|                 rus|           1|
|                 vie|           1|
|                  nl|           1|
|                 swe|           1|
|                 tur|           1|
|Bloody Jack (Bloo...|           1|
|                 mul|           1|
|                 rum|           1|
| ""A Man Named Da...|           1|
+--------------------+------------+

In [33]:
books_per_language_df.filter( F.length(F.col("language_code")) <= 5 ).show(50)

+-------------+------------+
|language_code|num_of_books|
+-------------+------------+
|          eng|        6340|
|        en-US|        2069|
|        en-GB|         257|
|          ara|          64|
|        en-CA|          58|
|          fre|          25|
|          ind|          21|
|          spa|          20|
|          ger|          13|
|          jpn|           7|
|          per|           7|
|          pol|           6|
|          por|           6|
|           en|           4|
|          nor|           3|
|          dan|           3|
|          ita|           2|
|          fil|           2|
|          rus|           1|
|          vie|           1|
|          tur|           1|
|          swe|           1|
|          rum|           1|
|          mul|           1|
|           nl|           1|
+-------------+------------+

### 6. Filtering records that have valid float values in "average_rating" column:
-------------------------------------------------------------------------------------

In [37]:
books_df2.orderBy( "average_rating" ).show()
# books_df2.orderBy( F.col("average_rating").desc() ).show()

+-------+--------------------+-----------+--------------------+--------------------+-----------------+
|book_id|               title|books_count|       language_code|      average_rating|    ratings_count|
+-------+--------------------+-----------+--------------------+--------------------+-----------------+
|   9265|    ""The Lost Boy""|          7| ""A Man Named Da...|"My Story: ""A Ch...| ""The Lost Boy""|
|   1793|One Night at the ...|         25|                 eng|                2.47|            40718|
|   3550|     The Almost Moon|         63|                 eng|                2.67|            28299|
|   8007|The Finkler Question|         45|                 eng|                2.76|             9627|
|   4009|        Four Blondes|         57|                null|                 2.8|            22278|
|   9021|                Lost|         18|                 eng|                 2.8|            12534|
|   8166|Among the Ten Tho...|         19|                 eng|                2.84|             8458|
|   8874|            Tell-All|         37|                null|                2.84|             9733|
|   4283|Revenge Wears Pra...|         59|               en-US|                2.84|            19210|
|   4614|The Emperor's Chi...|         45|                null|                2.93|            15362|
|   8960|       The Red House|         36|                 eng|                2.93|            10621|
|   4282|               Pygmy|         50|                 eng|                2.96|            21242|
|   1409|The 3 Mistakes of...|         18|                 eng|                2.97|            53331|
|   9523|       Beautiful You|         47|                 eng|                2.98|             8507|
|   7450|           ظل الأفعى|         11|                 ara|                   3|             8299|
|   3146|            Adultery|         88|                 eng|                3.01|            24797|
|   6474|Seating Arrangements|         22|                null|                3.02|            14243|
|   6636|       The Gathering|         59|                 eng|                3.04|            14292|
|   8466|          ليتها تقرأ|          2|                 ara|                3.04|             9807|
|   7980|Primates of Park ...|         20|                 eng|                3.05|             9210|
+-------+--------------------+-----------+--------------------+--------------------+-----------------+
only showing top 20 rows

In [38]:
from pyspark.sql.types import BooleanType
# To the col parameter of this UDF, values of each column will be passed one-by-one of all the records

@F.udf( returnType=BooleanType() )
def whether_valid_float( col ):
    col_value = str(col)
    digits = "1234567890"
    if col_value[0] in digits and col_value[-1] in digits:
        return True
    else:
        return False

In [41]:
# books_df2.filter( whether_valid_float( F.col("average_rating") ) ).orderBy( "average_rating" ).show()
books_df2.filter( whether_valid_float( "average_rating" ) ).orderBy( F.col("average_rating").desc() ).show()

+-------+--------------------+-----------+-------------+--------------+-------------+
|book_id|               title|books_count|language_code|average_rating|ratings_count|
+-------+--------------------+-----------+-------------+--------------+-------------+
|   3628|The Complete Calv...|         14|          eng|          4.82|        28900|
|   3275|Harry Potter Boxe...|         11|          eng|          4.77|        33220|
|    862|Words of Radiance...|         34|          eng|          4.77|        73572|
|   7947|     ESV Study Bible|         96|          eng|          4.76|         8953|
|   8854|Mark of the Lion ...|          6|        en-US|          4.76|         9081|
|   4483|It's a Magical Wo...|         21|          eng|          4.75|        22351|
|    422|Harry Potter Boxs...|         76|          eng|          4.74|       190050|
|   6361|There's Treasure ...|         22|          eng|          4.74|        16766|
|   3753|Harry Potter Coll...|          6|          eng|          4.73|        24618|
|   6590|The Authoritative...|         21|          eng|          4.73|        16087|
|   6920|The Indispensable...|         19|          eng|          4.73|        14597|
|   1308|A Court of Mist a...|         39|          eng|          4.72|       108384|
|   9566|Attack of the Der...|         24|          eng|          4.72|         9713|
|   8978|The Revenge of th...|         20|         null|          4.71|        11503|
|   7254|Homicidal Psycho ...|         23|          eng|          4.71|        14113|
|   9076|Preach My Gospel:...|          5|         null|          4.71|         9891|
|   5207|The Days Are Just...|         28|        en-US|          4.68|        19143|
|   5919|Life Application ...|        183|          eng|          4.67|        13614|
|   9141|The Way of Kings,...|         19|          eng|          4.67|         9792|
|   2101|The Harry Potter ...|         17|          eng|          4.66|        43929|
+-------+--------------------+-----------+-------------+--------------+-------------+
only showing top 20 rows

### 7. Adding "movie_value" tag to be "good", "average", "bad" based on average rating:
-------------------------------------------------------------------------------------------
- average_rating >= 4 = "good"
- average_rating >= 3 and average_rating <4 = "average"
- average_rating < 3 = "bad"

In [46]:
from pyspark.sql.types import DoubleType

In [47]:
ratings_df = books_df2.select( "average_rating" ).filter( whether_valid_float("average_rating") ).withColumn( "rating", F.col("average_rating").cast(DoubleType()) )
ratings_df.orderBy("average_rating").show()

+--------------+------+
|average_rating|rating|
+--------------+------+
|          2.47|  2.47|
|          2.67|  2.67|
|          2.76|  2.76|
|           2.8|   2.8|
|           2.8|   2.8|
|          2.84|  2.84|
|          2.84|  2.84|
|          2.84|  2.84|
|          2.93|  2.93|
|          2.93|  2.93|
|          2.96|  2.96|
|          2.97|  2.97|
|          2.98|  2.98|
|             3|   3.0|
|          3.01|  3.01|
|          3.02|  3.02|
|          3.04|  3.04|
|          3.04|  3.04|
|          3.05|  3.05|
|          3.07|  3.07|
+--------------+------+
only showing top 20 rows

In [48]:
ratings_df.printSchema()

root
 |-- average_rating: string (nullable = true)
 |-- rating: double (nullable = true)

In [54]:
ratings_df.withColumn( 
    "movie_value",
    F.when( F.col("rating") >= 4, "good" ).when( (F.col("rating") < 4) & (F.col("rating") >= 3), "average" ).otherwise( "bad" )
).orderBy( F.col("rating").asc() ).show()

+--------------+------+-----------+
|average_rating|rating|movie_value|
+--------------+------+-----------+
|          2.47|  2.47|        bad|
|          2.67|  2.67|        bad|
|          2.76|  2.76|        bad|
|           2.8|   2.8|        bad|
|           2.8|   2.8|        bad|
|          2.84|  2.84|        bad|
|          2.84|  2.84|        bad|
|          2.84|  2.84|        bad|
|          2.93|  2.93|        bad|
|          2.93|  2.93|        bad|
|          2.96|  2.96|        bad|
|          2.97|  2.97|        bad|
|          2.98|  2.98|        bad|
|             3|   3.0|    average|
|          3.01|  3.01|    average|
|          3.02|  3.02|    average|
|          3.04|  3.04|    average|
|          3.04|  3.04|    average|
|          3.05|  3.05|    average|
|          3.07|  3.07|    average|
+--------------+------+-----------+
only showing top 20 rows