In [1]:
import findspark

findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkSession object methods").getOrCreate()
sc = spark.sparkContext

In [3]:
spark

In [4]:
spark.conf.get("spark.app.id")

'local-1696091739737'

In [6]:
spark.conf.get("spark.submit.deployMode")

'client'

In [7]:
spark.conf.get("spark.app.name")

'SparkSession object methods'

In [47]:
spark.conf.isModifiable("spark.scheduler.mode")

False

In [48]:
spark.conf.isModifiable("spark.sql.shuffle.partitions")

True

# 1. createDataFrame()
<hr>

In [5]:
help(spark.createDataFrame)

Help on method createDataFrame in module pyspark.sql.session:

createDataFrame(data: Union[pyspark.rdd.RDD[Any], Iterable[Any], ForwardRef('PandasDataFrameLike')], schema: Union[pyspark.sql.types.AtomicType, pyspark.sql.types.StructType, str, NoneType] = None, samplingRatio: Union[float, NoneType] = None, verifySchema: bool = True) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list or a :class:`pandas.DataFrame`.

    When ``schema`` is a list of column names, the type of each column
    will be inferred from ``data``.

    When ``schema`` is ``None``, it will try to infer the schema (column names and types)
    from ``data``, which should be an RDD of either :class:`Row`,
    :class:`namedtuple`, or :class:`dict`.

    When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must match
    the real data, or an exception will be thrown at runtime. If the given schema is not
    :class:`pyspark.sql.types.StructType`, it will be wrapped into a
    :class:`pyspark.sql.types.StructType` as its only field, and the field name will be "value".
    Each record will also be wrapped into a tuple, which can be converted to row later.

    If schema inference is needed, ``samplingRatio`` is used to determined the ratio of
    rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.

    .. versionadded:: 2.0.0

    .. versionchanged:: 2.1.0
       Added verifySchema.

    Parameters
    ----------
    data : :class:`RDD` or iterable
        an RDD of any kind of SQL data representation (:class:`Row`,
        :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`, or
        :class:`pandas.DataFrame`.
    schema : :class:`pyspark.sql.types.DataType`, str or list, optional
        a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is None.  The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>``.
    samplingRatio : float, optional
        the sample ratio of rows used for inferring
    verifySchema : bool, optional
        verify data types of every row against schema. Enabled by default.

    Returns
    -------
    :class:`DataFrame`

    Notes
    -----
    Usage with spark.sql.execution.arrow.pyspark.enabled=True is experimental.

    Examples
    --------
    >>> l = [('Alice', 1)]
    >>> spark.createDataFrame(l).collect()
    [Row(_1='Alice', _2=1)]
    >>> spark.createDataFrame(l, ['name', 'age']).collect()
    [Row(name='Alice', age=1)]

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).collect()
    [Row(age=1, name='Alice')]

    >>> rdd = sc.parallelize(l)
    >>> spark.createDataFrame(rdd).collect()
    [Row(_1='Alice', _2=1)]
    >>> df = spark.createDataFrame(rdd, ['name', 'age'])
    >>> df.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> person = rdd.map(lambda r: Person(*r))
    >>> df2 = spark.createDataFrame(person)
    >>> df2.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> df3 = spark.createDataFrame(rdd, schema)
    >>> df3.collect()
    [Row(name='Alice', age=1)]

    >>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
    [Row(name='Alice', age=1)]
    >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    [Row(0=1, 1=2)]

    >>> spark.createDataFrame(rdd, "a: string, b: int").collect()
    [Row(a='Alice', b=1)]
    >>> rdd = rdd.map(lambda row: row[1])
    >>> spark.createDataFrame(rdd, "int").collect()
    [Row(value=1)]
    >>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
    Traceback (most recent call last):
        ...
    Py4JJavaError: ...

## Creating DataFrame from List of dictionaries:-
--------------------------------------------
Dictionaries contain keys and values, and each key becomes the column name, value becomes the value of the column, and datatypes are also automatically inferred from python datatypes. <b> So, passing <i>'schema'</i> explicitly is not necessary.</b>

In [15]:
details = [
    {
    "fname": "Debanjan",
    "lname": "Sarkar",
    "age": 23,
    "degree": "btech",
    "stream": "ECE",
    "dgpa": 8.84
    },
    {
    "fname": "Subhash Chandra",
    "lname": "Bose",
    "age": 120,
    "degree": "llb",
    "stream": "Law",
    "dgpa": 10.00
    }
]

type(details)

list

In [16]:
df1 = spark.createDataFrame( data = details )

In [17]:
df1.show()

+---+------+----+---------------+------+------+
|age|degree|dgpa|          fname| lname|stream|
+---+------+----+---------------+------+------+
| 23| btech|8.84|       Debanjan|Sarkar|   ECE|
|120|   llb|10.0|Subhash Chandra|  Bose|   Law|
+---+------+----+---------------+------+------+

In [48]:
df1.printSchema()

root
 |-- age: long (nullable = true)
 |-- degree: string (nullable = true)
 |-- dgpa: double (nullable = true)
 |-- fname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- stream: string (nullable = true)

In [49]:
df1.dtypes

[('age', 'bigint'),
 ('degree', 'string'),
 ('dgpa', 'double'),
 ('fname', 'string'),
 ('lname', 'string'),
 ('stream', 'string')]

In [50]:
df1.schema

StructType([StructField('age', LongType(), True), StructField('degree', StringType(), True), StructField('dgpa', DoubleType(), True), StructField('fname', StringType(), True), StructField('lname', StringType(), True), StructField('stream', StringType(), True)])

## Creating DataFrame from List of tuples:-
--------------------------------------------------
Datatypes are automatically inferred, and we just need to pass the column names as a list of strings in the <b><i>'schema'</i></b> parameter.

In [31]:
data_list = [
    ('Debanjan', 'Sarkar', 23, 'Male'),
    ('Kadombini', 'Devi', 165, 'Female')
]

In [32]:
df_list = spark.createDataFrame( data=data_list )

In [33]:
df_list.show()

+---------+------+---+------+
|       _1|    _2| _3|    _4|
+---------+------+---+------+
| Debanjan|Sarkar| 23|  Male|
|Kadombini|  Devi|165|Female|
+---------+------+---+------+

In [34]:
list_schema = ["fname", "lname", "age", "gender"]

df_list2 = spark.createDataFrame( data = data_list, schema = list_schema )

In [35]:
df_list2.show()

+---------+------+---+------+
|    fname| lname|age|gender|
+---------+------+---+------+
| Debanjan|Sarkar| 23|  Male|
|Kadombini|  Devi|165|Female|
+---------+------+---+------+

## Creating DataFrame from RDD:-
--------------------------------
RDD does not recognises datatypes or schema on its own, and also do not have column names contained.
Thus, in the <b><i>'schema'</i></b> parameter, the schema must be of type <b><i>'StructType()'</i></b>, or must be a <b>string, containing column names and datatypes, separated by comma.</b>

In [6]:
rdd = sc.textFile('data/products.csv').map( lambda x: x.split(",") ).map( lambda x: (x[0], x[1],  x[2], x[4], x[5]) )

rdd.take(10)

[('1',
  '2',
  'Quest Q64 10 FT. x 10 FT. Slant Leg Instant U',
  '59.98',
  'http://images.acmesports.sports/Quest+Q64+10+FT.+x+10+FT.+Slant+Leg+Instant+Up+Canopy'),
 ('2',
  '2',
  "Under Armour Men's Highlight MC Football Clea",
  '129.99',
  'http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat'),
 ('3',
  '2',
  "Under Armour Men's Renegade D Mid Football Cl",
  '89.99',
  'http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat'),
 ('4',
  '2',
  "Under Armour Men's Renegade D Mid Football Cl",
  '89.99',
  'http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat'),
 ('5',
  '2',
  'Riddell Youth Revolution Speed Custom Footbal',
  '199.99',
  'http://images.acmesports.sports/Riddell+Youth+Revolution+Speed+Custom+Football+Helmet'),
 ('6',
  '2',
  "Jordan Men's VI Retro TD Football Cleat",
  '134.99',
  'http://images.acmesports.sports/Jordan+Men%27s+VI+Retro+TD+Football+Cleat'),
 ('7',
  '2',
  'Schutt Youth Recruit Hybrid Custom Football H',
  '99.99',
  'http://images.acmesports.sports/Schutt+Youth+Recruit+Hybrid+Custom+Football+Helmet+2014'),
 ('8',
  '2',
  "Nike Men's Vapor Carbon Elite TD Football Cle",
  '129.99',
  'http://images.acmesports.sports/Nike+Men%27s+Vapor+Carbon+Elite+TD+Football+Cleat'),
 ('9',
  '2',
  'Nike Adult Vapor Jet 3.0 Receiver Gloves',
  '50.0',
  'http://images.acmesports.sports/Nike+Adult+Vapor+Jet+3.0+Receiver+Gloves'),
 ('10',
  '2',
  "Under Armour Men's Highlight MC Football Clea",
  '129.99',
  'http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat')]

In [7]:
rdd.count()

1345

In [12]:
rdd_small = rdd.sample(False, 0.007)

In [13]:
rdd_small.count()

6

In [14]:
rdd_small.collect()

[('305',
  '38',
  'Mio ALPHA Heart Rate Monitor/Sport Watch',
  '199.0',
  'http://images.acmesports.sports/Mio+ALPHA+Heart+Rate+Monitor%2FSport+Watch'),
 ('346',
  '16',
  'Fitness Gear Pro Half Rack',
  '349.99',
  'http://images.acmesports.sports/Fitness+Gear+Pro+Half+Rack'),
 ('382',
  '18',
  "PUMA Men's evoPOWER 1 Tricks FG Soccer Cleat",
  '189.99',
  'http://images.acmesports.sports/PUMA+Men%27s+evoPOWER+1+Tricks+FG+Soccer+Cleat'),
 ('463',
  '21',
  "Nike Kids' Grade School KD VI Basketball Shoe",
  '99.99',
  'http://images.acmesports.sports/Nike+Kids%27+Grade+School+KD+VI+Basketball+Shoe'),
 ('625',
  '29',
  "Nike Men's Kobe IX Elite Low Basketball Shoe",
  '199.99',
  'http://images.acmesports.sports/Nike+Men%27s+Kobe+IX+Elite+Low+Basketball+Shoe'),
 ('1231',
  '55',
  '"adidas Original Men\'s 2014 MLS All-Star Game "',
  '28.0',
  'http://images.acmesports.sports/adidas+Original+Men%27s+2014+MLS+All-Star+Game+Homestyle...')]

In [10]:
rdd_df1 = spark.createDataFrame( data = rdd_small )

In [11]:
rdd_df1.show(truncate = 50)

+----+---+-----------------------------------------------+------+--------------------------------------------------+
|  _1| _2|                                             _3|    _4|                                                _5|
+----+---+-----------------------------------------------+------+--------------------------------------------------+
| 224| 11|"PowerBlock Classic 50 lb Adjustable Dumbbell "|299.99|http://images.acmesports.sports/PowerBlock+Clas...|
| 261| 12|      ASICS Women's GEL-Cumulus 15 Running Shoe| 89.99|http://images.acmesports.sports/ASICS+Women%27s...|
| 292| 38|         Garmin Women's Forerunner 10 GPS Watch|129.99|http://images.acmesports.sports/Garmin+Women%27...|
| 329| 15|  Under Armour Women's Essential Banded Tank To| 49.99|http://images.acmesports.sports/Under+Armour+Wo...|
| 355| 16|      Nike Men's Free Trainer 5.0 Training Shoe| 99.99|http://images.acmesports.sports/Nike+Men%27s+Fr...|
| 580| 27|"adidas Original Men's 2014 MLS All-Star Game "|  28.0|http://images.acmesports.sports/adidas+Original...|
| 595| 27|        TYR Girls' Phoenix Maxfit Back Swimsuit| 75.99|http://images.acmesports.sports/TYR+Girls%27+Ph...|
| 756| 34|              TRUE linkswear Lyt Dry Golf Shoes|149.99|http://images.acmesports.sports/TRUE+linkswear+...|
| 876| 39|  Top Flite Kids' XLj Driver (Height 45'' and u| 34.99|http://images.acmesports.sports/Top+Flite+Kids%...|
|1119| 50|  Majestic Men's 2014 All-Star Game Yadier Moli| 130.0|http://images.acmesports.sports/Majestic+Men%27...|
|1128| 50|  Nike Men's Los Angeles Angels Mike Trout 2014|  34.0|http://images.acmesports.sports/Nike+Men%27s+Lo...|
|1231| 55|"adidas Original Men's 2014 MLS All-Star Game "|  28.0|http://images.acmesports.sports/adidas+Original...|
+----+---+-----------------------------------------------+------+--------------------------------------------------+

In [15]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType

# Define the schema using StructType and StructField
# rdd_schema = StructType([
#     StructField("productId", IntegerType(), True),
#     StructField("categoryId", IntegerType(), True),
#     StructField("description", StringType(), True),
#     StructField("price", FloatType(), True),
#     StructField("imageLink", StringType(), True)
# ])

rdd_schema = ["product_id", "category_id", "description", "price", "image_link"]
#rdd_schema = ('productId int, categoryId int, description string, price float, imageLink string')

rdd_df2 = spark.createDataFrame( data = rdd_small, schema = rdd_schema )

In [16]:
rdd_df2.show()

+----------+-----------+--------------------+------+--------------------+
|product_id|category_id|         description| price|          image_link|
+----------+-----------+--------------------+------+--------------------+
|       305|         38|Mio ALPHA Heart R...| 199.0|http://images.acm...|
|       346|         16|Fitness Gear Pro ...|349.99|http://images.acm...|
|       382|         18|PUMA Men's evoPOW...|189.99|http://images.acm...|
|       463|         21|Nike Kids' Grade ...| 99.99|http://images.acm...|
|       625|         29|Nike Men's Kobe I...|199.99|http://images.acm...|
|      1231|         55|"adidas Original ...|  28.0|http://images.acm...|
+----------+-----------+--------------------+------+--------------------+

In [52]:
rdd_df2.printSchema()

root
 |-- product_id: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- description: string (nullable = true)
 |-- price: string (nullable = true)
 |-- image_link: string (nullable = true)

## Creating DataFrame from List of <i>'pyspark.sql.Row'</i> objects :-
----------------------------------------------------------------------

In [53]:
from pyspark.sql import Row

In [54]:
row_data = [
    Row(fname='Debanjan', lname='Sarkar', age=23),
    Row(fname='JC', lname='Bose', age=180)
]

In [55]:
type(row_data[0])

pyspark.sql.types.Row

In [56]:
row_df = spark.createDataFrame( data = row_data )

In [57]:
row_df.show()

+--------+------+---+
|   fname| lname|age|
+--------+------+---+
|Debanjan|Sarkar| 23|
|      JC|  Bose|180|
+--------+------+---+

In [58]:
row_df.printSchema()

root
 |-- fname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- age: long (nullable = true)

In [59]:
row_df.schema

StructType([StructField('fname', StringType(), True), StructField('lname', StringType(), True), StructField('age', LongType(), True)])

<hr><hr>

# <i>'pyspark.sql.Row' object:-
<hr>
<ul>
    <li> <i>'Row'</i> object takes any number of keyword arguments, and the data passed as keyword arguments form key-value paired data. </li>
    <li> The values inside a <i>'Row'</i> object can be accessed using dot(.) notation. </li>
    <li> <i>'Row'</i> object is an iterable, and can be operated by a <b><i>for</i></b> loop to get the values in the object. </li>
</ul>

In [17]:
from pyspark.sql import Row

In [18]:
row_obj = Row( fname='Debanjan', lname = 'Sarkar', age=23, degree='btech', stream='ECE', dgpa=8.84 )

In [19]:
print( row_obj.fname )
print( row_obj.lname )

Debanjan
Sarkar

In [21]:
'age' in row_obj

True

In [22]:
'fname' in row_obj

True

In [23]:
'fullName' in row_obj

False

In [28]:
for i in row_obj:
    print(i)

Debanjan
Sarkar
23
btech
ECE
8.84

# 2. sql()
<hr>
Return the result set of an sql query, as a DataFrame.

In [29]:
help(spark.sql)

Help on method sql in module pyspark.sql.session:

sql(sqlQuery: str, **kwargs: Any) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.session.SparkSession instance
    Returns a :class:`DataFrame` representing the result of the given query.
    When ``kwargs`` is specified, this method formats the given string by using the Python
    standard formatter.

    .. versionadded:: 2.0.0

    Parameters
    ----------
    sqlQuery : str
        SQL query string.
    kwargs : dict
        Other variables that the user wants to set that can be referenced in the query

        .. versionchanged:: 3.3.0
           Added optional argument ``kwargs`` to specify the mapping of variables in the query.
           This feature is experimental and unstable.

    Returns
    -------
    :class:`DataFrame`

    Examples
    --------
    Executing a SQL query.

    >>> spark.sql("SELECT * FROM range(10) where id > 7").show()
    +---+
    | id|
    +---+
    |  8|
    |  9|
    +---+

    Executing a SQL query with variables as Python formatter standard.

    >>> spark.sql(
    ...     "SELECT * FROM range(10) WHERE id > {bound1} AND id < {bound2}", bound1=7, bound2=9
    ... ).show()
    +---+
    | id|
    +---+
    |  8|
    +---+

    >>> mydf = spark.range(10)
    >>> spark.sql(
    ...     "SELECT {col} FROM {mydf} WHERE id IN {x}",
    ...     col=mydf.id, mydf=mydf, x=tuple(range(4))).show()
    +---+
    | id|
    +---+
    |  0|
    |  1|
    |  2|
    |  3|
    +---+

    >>> spark.sql('''
    ...   SELECT m1.a, m2.b
    ...   FROM {table1} m1 INNER JOIN {table2} m2
    ...   ON m1.key = m2.key
    ...   ORDER BY m1.a, m2.b''',
    ...   table1=spark.createDataFrame([(1, "a"), (2, "b")], ["a", "key"]),
    ...   table2=spark.createDataFrame([(3, "a"), (4, "b"), (5, "b")], ["b", "key"])).show()
    +---+---+
    |  a|  b|
    +---+---+
    |  1|  3|
    |  2|  4|
    |  2|  5|
    +---+---+

    Also, it is possible to query using class:`Column` from :class:`DataFrame`.

    >>> mydf = spark.createDataFrame([(1, 4), (2, 4), (3, 6)], ["A", "B"])
    >>> spark.sql("SELECT {df.A}, {df[B]} FROM {df}", df=mydf).show()
    +---+---+
    |  A|  B|
    +---+---+
    |  1|  4|
    |  2|  4|
    |  3|  6|
    +---+---+

In [36]:
data_list = [
    ('Debanjan', 'Sarkar', 23, 'Male'),
    ('Kadombini', 'Devi', 165, 'Female')
]

In [37]:
df_list = spark.createDataFrame( data = data_list, schema = ['fname', 'lname', 'age', 'gender'] )

In [38]:
df_list.show()

+---------+------+---+------+
|    fname| lname|age|gender|
+---------+------+---+------+
| Debanjan|Sarkar| 23|  Male|
|Kadombini|  Devi|165|Female|
+---------+------+---+------+

In [39]:
df_list.createOrReplaceTempView('basicTable')

In [40]:
sql_df = spark.sql("SELECT fname, age FROM basicTable;")

In [41]:
sql_df.show()

+---------+---+
|    fname|age|
+---------+---+
| Debanjan| 23|
|Kadombini|165|
+---------+---+

In [44]:
spark.sql(" SELECT current_timestamp AS Current_date; ").show( truncate = False )

+--------------------------+
|Current_date              |
+--------------------------+
|2023-09-29 19:13:27.858621|
+--------------------------+

# 3. table()
<hr>
Reads a table and returns it as a dataframe. Can be used to read temporary views too.<br>
We just need to pass the table name as a string in the parameter, and no sql query.

In [45]:
spark.table('basicTable').show()

+---------+------+---+------+
|    fname| lname|age|gender|
+---------+------+---+------+
| Debanjan|Sarkar| 23|  Male|
|Kadombini|  Devi|165|Female|
+---------+------+---+------+

# 4. Spark UDFs:-
-----------------------

In [20]:
# Using the df created above using rdd
rdd_df2.show(truncate=50)

+----------+-----------+-----------------------------------------------+------+--------------------------------------------------+
|product_id|category_id|                                    description| price|                                        image_link|
+----------+-----------+-----------------------------------------------+------+--------------------------------------------------+
|       305|         38|       Mio ALPHA Heart Rate Monitor/Sport Watch| 199.0|http://images.acmesports.sports/Mio+ALPHA+Heart...|
|       346|         16|                     Fitness Gear Pro Half Rack|349.99|http://images.acmesports.sports/Fitness+Gear+Pr...|
|       382|         18|   PUMA Men's evoPOWER 1 Tricks FG Soccer Cleat|189.99|http://images.acmesports.sports/PUMA+Men%27s+ev...|
|       463|         21|  Nike Kids' Grade School KD VI Basketball Shoe| 99.99|http://images.acmesports.sports/Nike+Kids%27+Gr...|
|       625|         29|   Nike Men's Kobe IX Elite Low Basketball Shoe|199.99|http://images.acmesports.sports/Nike+Men%27s+Ko...|
|      1231|         55|"adidas Original Men's 2014 MLS All-Star Game "|  28.0|http://images.acmesports.sports/adidas+Original...|
+----------+-----------+-----------------------------------------------+------+--------------------------------------------------+

In [24]:
# Creating  UDF that takes a string and returns s String that is the unification of first alphabets of consecutive words in the main sentence
# Ex:- "I am very happy" ---> compress_str() ---> "Iavh"
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

@udf( returnType = StringType() )
def compress_str(main_str: str):
    if(main_str):
        # This will ensure that this logic is not applied if Null is passed.
        comp_str = ""
        for word in main_str.split():
            comp_str += word[0]
        return comp_str
    else:
        return ""

In [29]:
# Using the created UDF on DataFrame column
# ------------------------------------------

from pyspark.sql import functions as F

rdd_df2.select( [ F.col("description"), compress_str(F.col("description")) ] ).show(truncate=70)

+-----------------------------------------------+-------------------------+
|                                    description|compress_str(description)|
+-----------------------------------------------+-------------------------+
|       Mio ALPHA Heart Rate Monitor/Sport Watch|                   MAHRMW|
|                     Fitness Gear Pro Half Rack|                    FGPHR|
|   PUMA Men's evoPOWER 1 Tricks FG Soccer Cleat|                 PMe1TFSC|
|  Nike Kids' Grade School KD VI Basketball Shoe|                 NKGSKVBS|
|   Nike Men's Kobe IX Elite Low Basketball Shoe|                 NMKIELBS|
|"adidas Original Men's 2014 MLS All-Star Game "|                 "OM2MAG"|
+-----------------------------------------------+-------------------------+

## Registering the UDF for Spark SQL:-
--------------------------------------

In [30]:
spark.sql(""" SELECT compressString("I am currently living in Jaipur, Rajasthan."); """)

AnalysisException: Undefined function: compressString. This function is neither a built-in/temporary function, nor a persistent function that is qualified as spark_catalog.default.compressstring.; line 1 pos 8

In [32]:
spark.udf.register("compressString", compress_str )

In [34]:
spark.sql(""" SELECT compressString("I am currently living in Jaipur, Rajasthan."); """).show()

+-----------------------------------------------------------+
|compressString(I am currently living in Jaipur, Rajasthan.)|
+-----------------------------------------------------------+
|                                                    IacliJR|
+-----------------------------------------------------------+

# 5. <i>'catalog'</i> Module :
<hr>

In [5]:
help( spark.catalog )

Help on Catalog in module pyspark.sql.catalog object:

class Catalog(builtins.object)
 |  Catalog(sparkSession: pyspark.sql.session.SparkSession) -> None
 |
 |  User-facing catalog API, accessible through `SparkSession.catalog`.
 |
 |  This is a thin wrapper around its Scala implementation org.apache.spark.sql.catalog.Catalog.
 |
 |  Methods defined here:
 |
 |  __init__(self, sparkSession: pyspark.sql.session.SparkSession) -> None
 |      Create a new Catalog that wraps the underlying JVM object.
 |
 |  cacheTable(self, tableName: str) -> None
 |      Caches the specified table in-memory.
 |
 |      .. versionadded:: 2.0
 |
 |  clearCache(self) -> None
 |      Removes all cached tables from the in-memory cache.
 |
 |      .. versionadded:: 2.0
 |
 |  createExternalTable(self, tableName: str, path: Union[str, NoneType] = None, source: Union[str, NoneType] = None, schema: Union[pyspark.sql.types.StructType, NoneType] = None, **options: str) -> pyspark.sql.dataframe.DataFrame
 |      Creates a table based on the dataset in a data source.
 |
 |      It returns the DataFrame associated with the external table.
 |
 |      The data source is specified by the ``source`` and a set of ``options``.
 |      If ``source`` is not specified, the default data source configured by
 |      ``spark.sql.sources.default`` will be used.
 |
 |      Optionally, a schema can be provided as the schema of the returned :class:`DataFrame` and
 |      created external table.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |  createTable(self, tableName: str, path: Union[str, NoneType] = None, source: Union[str, NoneType] = None, schema: Union[pyspark.sql.types.StructType, NoneType] = None, description: Union[str, NoneType] = None, **options: str) -> pyspark.sql.dataframe.DataFrame
 |      Creates a table based on the dataset in a data source.
 |
 |      It returns the DataFrame associated with the table.
 |
 |      The data source is specified by the ``source`` and a set of ``options``.
 |      If ``source`` is not specified, the default data source configured by
 |      ``spark.sql.sources.default`` will be used. When ``path`` is specified, an external table is
 |      created from the data at the given path. Otherwise a managed table is created.
 |
 |      Optionally, a schema can be provided as the schema of the returned :class:`DataFrame` and
 |      created table.
 |
 |      .. versionadded:: 2.2.0
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      .. versionchanged:: 3.1
 |         Added the ``description`` parameter.
 |
 |  currentDatabase(self) -> str
 |      Returns the current default database in this session.
 |
 |      .. versionadded:: 2.0
 |
 |  databaseExists(self, dbName: str) -> bool
 |      Check if the database with the specified name exists.
 |
 |      .. versionadded:: 3.3.0
 |
 |      Parameters
 |      ----------
 |      dbName : str
 |           name of the database to check existence
 |
 |      Returns
 |      -------
 |      bool
 |          Indicating whether the database exists
 |
 |      Examples
 |      --------
 |      >>> spark.catalog.databaseExists("test_new_database")
 |      False
 |      >>> df = spark.sql("CREATE DATABASE test_new_database")
 |      >>> spark.catalog.databaseExists("test_new_database")
 |      True
 |      >>> df = spark.sql("DROP DATABASE test_new_database")
 |
 |  dropGlobalTempView(self, viewName: str) -> None
 |      Drops the global temporary view with the given view name in the catalog.
 |      If the view has been cached before, then it will also be uncached.
 |      Returns true if this view is dropped successfully, false otherwise.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Examples
 |      --------
 |      >>> spark.createDataFrame([(1, 1)]).createGlobalTempView("my_table")
 |      >>> spark.table("global_temp.my_table").collect()
 |      [Row(_1=1, _2=1)]
 |      >>> spark.catalog.dropGlobalTempView("my_table")
 |      True
 |      >>> spark.table("global_temp.my_table") # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |          ...
 |      AnalysisException: ...
 |
 |  dropTempView(self, viewName: str) -> None
 |      Drops the local temporary view with the given view name in the catalog.
 |      If the view has been cached before, then it will also be uncached.
 |      Returns true if this view is dropped successfully, false otherwise.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Notes
 |      -----
 |      The return type of this method was None in Spark 2.0, but changed to Boolean
 |      in Spark 2.1.
 |
 |      Examples
 |      --------
 |      >>> spark.createDataFrame([(1, 1)]).createTempView("my_table")
 |      >>> spark.table("my_table").collect()
 |      [Row(_1=1, _2=1)]
 |      >>> spark.catalog.dropTempView("my_table")
 |      True
 |      >>> spark.table("my_table") # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |          ...
 |      AnalysisException: ...
 |
 |  functionExists(self, functionName: str, dbName: Union[str, NoneType] = None) -> bool
 |      Check if the function with the specified name exists.
 |      This can either be a temporary function or a function.
 |
 |      .. versionadded:: 3.3.0
 |
 |      Parameters
 |      ----------
 |      functionName : str
 |          name of the function to check existence
 |      dbName : str, optional
 |          name of the database to check function existence in.
 |          If no database is specified, the current database is used
 |
 |      Returns
 |      -------
 |      bool
 |          Indicating whether the function exists
 |
 |      Examples
 |      --------
 |      >>> spark.catalog.functionExists("unexisting_function")
 |      False
 |
 |  isCached(self, tableName: str) -> bool
 |      Returns true if the table is currently cached in-memory.
 |
 |      .. versionadded:: 2.0
 |
 |  listColumns(self, tableName: str, dbName: Union[str, NoneType] = None) -> List[pyspark.sql.catalog.Column]
 |      Returns a list of columns for the given table/view in the specified database.
 |
 |       If no database is specified, the current database is used.
 |
 |      .. versionadded:: 2.0.0
 |
 |       Notes
 |       -----
 |       the order of arguments here is different from that of its JVM counterpart
 |       because Python does not support method overloading.
 |
 |  listDatabases(self) -> List[pyspark.sql.catalog.Database]
 |      Returns a list of databases available across all sessions.
 |
 |      .. versionadded:: 2.0
 |
 |  listFunctions(self, dbName: Union[str, NoneType] = None) -> List[pyspark.sql.catalog.Function]
 |      Returns a list of functions registered in the specified database.
 |
 |      If no database is specified, the current database is used.
 |      This includes all temporary functions.
 |
 |      .. versionadded:: 2.0
 |
 |  listTables(self, dbName: Union[str, NoneType] = None) -> List[pyspark.sql.catalog.Table]
 |      Returns a list of tables/views in the specified database.
 |
 |      If no database is specified, the current database is used.
 |      This includes all temporary views.
 |
 |      .. versionadded:: 2.0
 |
 |  recoverPartitions(self, tableName: str) -> None
 |      Recovers all the partitions of the given table and update the catalog.
 |
 |      Only works with a partitioned table, and not a view.
 |
 |      .. versionadded:: 2.1.1
 |
 |  refreshByPath(self, path: str) -> None
 |      Invalidates and refreshes all the cached data (and the associated metadata) for any
 |      DataFrame that contains the given data source path.
 |
 |      .. versionadded:: 2.2.0
 |
 |  refreshTable(self, tableName: str) -> None
 |      Invalidates and refreshes all the cached data and metadata of the given table.
 |
 |      .. versionadded:: 2.0
 |
 |  registerFunction(self, name: str, f: Callable[..., Any], returnType: Union[ForwardRef('DataType'), NoneType] = None) -> 'UserDefinedFunctionLike'
 |      An alias for :func:`spark.udf.register`.
 |      See :meth:`pyspark.sql.UDFRegistration.register`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. deprecated:: 2.3.0
 |          Use :func:`spark.udf.register` instead.
 |
 |  setCurrentDatabase(self, dbName: str) -> None
 |      Sets the current default database in this session.
 |
 |      .. versionadded:: 2.0
 |
 |  tableExists(self, tableName: str, dbName: Union[str, NoneType] = None) -> bool
 |      Check if the table or view with the specified name exists.
 |      This can either be a temporary view or a table/view.
 |
 |      .. versionadded:: 3.3.0
 |
 |      Parameters
 |      ----------
 |      tableName : str
 |                  name of the table to check existence
 |      dbName : str, optional
 |               name of the database to check table existence in.
 |               If no database is specified, the current database is used
 |
 |      Returns
 |      -------
 |      bool
 |          Indicating whether the table/view exists
 |
 |      Examples
 |      --------
 |
 |      This function can check if a table is defined or not:
 |
 |      >>> spark.catalog.tableExists("unexisting_table")
 |      False
 |      >>> df = spark.sql("CREATE TABLE tab1 (name STRING, age INT) USING parquet")
 |      >>> spark.catalog.tableExists("tab1")
 |      True
 |      >>> df = spark.sql("DROP TABLE tab1")
 |      >>> spark.catalog.tableExists("unexisting_table")
 |      False
 |
 |      It also works for views:
 |
 |      >>> spark.catalog.tableExists("view1")
 |      False
 |      >>> df = spark.sql("CREATE VIEW view1 AS SELECT 1")
 |      >>> spark.catalog.tableExists("view1")
 |      True
 |      >>> df = spark.sql("DROP VIEW view1")
 |      >>> spark.catalog.tableExists("view1")
 |      False
 |
 |      And also for temporary views:
 |
 |      >>> df = spark.sql("CREATE TEMPORARY VIEW view1 AS SELECT 1")
 |      >>> spark.catalog.tableExists("view1")
 |      True
 |      >>> df = spark.sql("DROP VIEW view1")
 |      >>> spark.catalog.tableExists("view1")
 |      False
 |
 |  uncacheTable(self, tableName: str) -> None
 |      Removes the specified table from the in-memory cache.
 |
 |      .. versionadded:: 2.0
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [10]:
spark.conf.get("spark.sql.sources.default")

'parquet'

### a. Database Functions:-
----------------------------

In [17]:
spark.catalog.currentDatabase()

'default'

In [7]:
spark.catalog.listDatabases()

[Database(name='default', description='default database', locationUri='file:/C:/Users/Debanjan%20Sarkar/PySpark/prac1/2-complete-PySpark-developer-course/spark-warehouse')]

In [8]:
spark.sql("CREATE DATABASE test_db;")

DataFrame[]

In [9]:
spark.catalog.listDatabases()

[Database(name='default', description='default database', locationUri='file:/C:/Users/Debanjan%20Sarkar/PySpark/prac1/2-complete-PySpark-developer-course/spark-warehouse'),
 Database(name='test_db', description='', locationUri='file:/C:/Users/Debanjan%20Sarkar/PySpark/prac1/2-complete-PySpark-developer-course/spark-warehouse/test_db.db')]

In [16]:
spark.catalog.setCurrentDatabase('test_db')
# spark.catalog.setCurrentDatabase('default')

In [13]:
spark.catalog.currentDatabase()

'test_db'

In [14]:
# Names of all the databases present currently in the session:

databases_present = [ db.name for db in spark.catalog.listDatabases() ]
databases_present

['default', 'test_db']

### b. Table Functions:-
----------------------------

In [18]:
spark.catalog.listTables()

[]

In [20]:
spark.sql(" CREATE TABLE testTbl (id INT, name STRING); ")

AnalysisException: Hive support is required to CREATE Hive TABLE (AS SELECT);
'CreateTable `default`.`testTbl`, org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe, ErrorIfExists